.header-container {
  display: flex;
  justify-content: space-between;
  background-color: transparent;
  width: 100%;
  position: fixed;
  top: 20px;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.register-buttons {
  display: flex;
  padding-left: 10px;
}

.switch {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-btn {
  display: flex;
  width: 100px;
  margin: 10px 10px;
  justify-content: center;
  text-align: center;
}
