<div class="header-container">
  <app-logo class="logo" routerLink=""></app-logo>
  <app-switch-component class="switch"></app-switch-component>
  <div class="register-buttons">
    <app-button class="header-btn" text="Tasklist" routerLink="/tasklist"></app-button>
    <app-button class="header-btn" text="Main" routerLink=""></app-button>
    <app-button class="header-btn" text="Login" routerLink="/login"></app-button>
    <app-button class="header-btn" text="Sign-up" routerLink="/register"></app-button>
  </div>
</div>
